.navbar{
    display:flex;
    background-color: rgb(22, 223, 122);

}
.site-name{
    padding:5px 30px;
    color:blueviolet;

}
.site-menu{
    padding:10px 30px;
    margin-left:40px;

}
a{
    text-decoration: none;
    color:black;
    margin:0px 30px;
}
